In [1]:
import scanpy as sc
from os import listdir
from os.path import isdir, join

In [40]:
ad_final = None
n = 0
stopat = 20
for d in listdir('./'):
    if not isdir(d):
        continue
    for f in listdir(join(d)):
        p = join(d, f)
        if not p.endswith('h5ad'):
            continue
        print(p)
        adata = sc.read(p)
        print(adata.shape)
        ad_final = adata if ad_final is None else ad_final.concatenate(adata, index_unique='')
        n += 1
        if n >= stopat :
            break
    if n == stopat:
        break
print(ad_final.shape)

Hafler/hafler.h5ad
(9959, 19719)
Wong/wong_r2b.h5ad
(4960, 32838)
Wong/wong_r3b.h5ad
(2819, 32838)
Wong/wong_r3a.h5ad
(2978, 32838)
Wong/wong_r2a.h5ad
(4950, 32838)
Wong/wong_r1.h5ad
(1657, 32838)
Scheetz/Scheetz_a_peripheral_donor_2.h5ad
(952, 21649)
Scheetz/Scheetz_a_fovea_donor_3.h5ad
(541, 24144)
Scheetz/Scheetz_a_fovea_donor_2.h5ad
(1208, 21649)
Scheetz/Scheetz_a_peripheral_donor_3.h5ad
(1000, 21649)
Scheetz/Scheetz_a_peripheral_donor_1.h5ad
(1281, 21649)
Scheetz/Scheetz_a_fovea_donor_1.h5ad
(517, 21649)
(32822, 17545)

In [44]:
ad_final.obs

                              cell.type tech    study  n_counts leiden batch
AAACCCAGTGGAACAC-100000000000       Rod  10x   hafler    1018.0      3     0
AAACGAAAGAGAGGTA-100000000000        AC  10x   hafler    1369.0      8     0
AAACGAACAGGTTTAC-100000000000        NN  10x   hafler    4049.0      5     0
AAACGCTCAATGTCTG-100000000000        BC  10x   hafler    1803.0      1     0
AAACGCTTCGCTTGCT-100000000000        NN  10x   hafler    3823.0      5     0
...                                 ...  ...      ...       ...    ...   ...
TTTGATCCAACCGGAA-11                  BC  10x  scheetz       NaN      0     1
TTTGGAGGTGCGAACA-11                  NN  10x  scheetz       NaN      2     1
TTTGGAGTCCGACAGC-11                  UN  10x  scheetz       NaN      4     1
TTTGGTTTCCACGGAC-11                  UN  10x  scheetz       NaN      4     1
TTTGTTGAGCTAAACA-11                  UN  10x  scheetz       NaN      4     1

[32822 rows x 6 columns]

In [53]:
ad_final.layers['counts'] = ad_final.X

In [55]:
ad_final.write('human_retinal.h5ad')

In [43]:
!readlink -f human_retinal.h5ad

/mnt/znas/icb_zstore01/groups/ml01/workspace/ignacio.ibarra/theislab/retinal_scRNAseq_integration/scib/notebooks/data_preprocessing/retinal/human_retinal.h5ad

In [4]:
ad = sc.read_h5ad('human_retinal.h5ad')

                              cell.type tech    study  n_counts leiden batch
AAACCCAGTGGAACAC-100000000000       Rod  10x   hafler    1018.0      3     0
AAACGAAAGAGAGGTA-100000000000        AC  10x   hafler    1369.0      8     0
AAACGAACAGGTTTAC-100000000000        NN  10x   hafler    4049.0      5     0
AAACGCTCAATGTCTG-100000000000        BC  10x   hafler    1803.0      1     0
AAACGCTTCGCTTGCT-100000000000        NN  10x   hafler    3823.0      5     0
...                                 ...  ...      ...       ...    ...   ...
TTTGATCCAACCGGAA-11                  BC  10x  scheetz       NaN      0     1
TTTGGAGGTGCGAACA-11                  NN  10x  scheetz       NaN      2     1
TTTGGAGTCCGACAGC-11                  UN  10x  scheetz       NaN      4     1
TTTGGTTTCCACGGAC-11                  UN  10x  scheetz       NaN      4     1
TTTGTTGAGCTAAACA-11                  UN  10x  scheetz       NaN      4     1

[32822 rows x 6 columns]

In [7]:
ad.obs['study'].value_counts()

wong       17364
hafler      9959
scheetz     5499
Name: study, dtype: int64